<div class="all">
<div class="main">
<h1>Zaboravljena šifra</h1>
  <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" required />
      </div>
      <div *ngIf="registerMessage" class="register-message">{{ registerMessage }}</div>
      <button type="submit" class="forgot-password-btn" [disabled]="!forgottenPasswordForm.valid">Send Email</button>
  </form>
</div>
<app-footer></app-footer>
</div>