<div class="all">
    <div class="main">
    <h1>Nova šifra</h1>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="password">Nova šifra:</label>
            <input id="password" type="password" formControlName="password" required />
          </div>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
          <button type="submit" class="forgot-password-btn" [disabled]="!resetPasswordForm.valid">Reset Password</button>
          <button type="login" class="login-btn" routerLink="/login">Login</button>
      </form>
    </div>
    <app-footer></app-footer>
  </div>