html, body{
    height: 100%;
    margin: 0;
  }
  
  .site-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    margin-top: 80px;
  }
  
  .sidebar {
    width: 25%;
    padding-left: 2%;
  }
  
  .close-icon-sidebar{
    display: none;
  }

  .betting-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  
  .betting-icon-container img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .close-icon{
    position: absolute;
    top: 80px;
    right: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .betting-ticket-image{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
  }

  .close-icon-surebet-ticket{
    position: fixed;
    top: 60px;
    right: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 1000;
  }

  .main {
    flex: 2;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5%;
    width: 100%;
  }
  
  .match-metadata {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    position: relative;
    width: 100%;
  }
  
  .close-icon {
    position: absolute;
    margin-top: -20px;
    top: 0px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .table-responsive{
    width: 100%;
    overflow: visible;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th {
    position: sticky;
    top: 0px;
    z-index: 100;
  }
  
  th, td{
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 6.666%;
  }
  
  table th img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  tr.grouping-row {
    background-color: #e9e9e9;
    cursor: pointer;
    font-weight: bold;
  }
  
  tr.grouping-row:hover {
    background-color: #d3d3d3;
  }
  
  .grouping-row td {
    text-align: center;
  }
  
  .odds-row{
    background-color: #fff;
  }
  
  .odds-row td:last-child,
  .odds-row td:first-child {
    font-weight: bold;
    background-color: #c7f3c7;
  }
  
  .highlight-odds {
    background-color: #197319;
    color: #fff;
  }
  
  .odds-row td{
    text-align: center;
  }
  
  th:first-child,
  th:last-child{
    background-color: #197319;
  }
  
  /* Inline zbog jebenih css file size limita na Angularu */
  /* .MaxBet{
    background-color: #fff;
  } */

  .MaxBet img{
    height: 200px;
  }
  
  /* .Mozzart{
    background-color: #1b1e43;
  } */

  .Mozzart img{
    height: 200px;
  }
  
  /* .Admiral{
    background-color: #012156;
  } */
  .Admiral img{
    height: 200px;
  }
  
  /* .Meridian{
    background-color: #b53b36;
  } */
  .Meridian img{
    height: 200px;
  }
  
  /* .BalkanBet{
    background-color: #185833;
  } */
  .BalkanBet img{
    height: 200px;
  }
  
  /* .BetOle{
    background-color: #000;
  } */
  .BetOle img{
    height: 200px;
  }

  .BrazilBet img{
    height: 200px;
  }
  
  /* .Merkur{
    background-color: #1b1e43;
  } */
  .Merkur img{
    height: 200px;
  }
  
  /* .OktagonBet{
    background-color: #121415;
  } */
  .OktagonBet img{
    height: 200px;
  }
  
  /* .PinnBet{
    background-color: #aaabac;
  } */
  .PinnBet img{
    height: 200px;
  }
  
  /* .PlanetWin{
    background-color: #000;
  } */
  .PlanetWin img{
    height: 200px;
  }
  
  /* .SoccerBet{
    background-color: #000;
  } */
  .SoccerBet img{
    height: 200px;
  }

  .SuperBet img{
    height: 200px;
  }

  .right-sidebar {
    width: 18%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 60px;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
  }
  
  .betting-ticket {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .ticket-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .ticket-table input[type="number"] {
    width: 100%; /* Adjust this value as needed */
    padding: 1px; /* Ensuring padding is inside the width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc;
    border-radius: 4px;
}

  
  .ticket-table th,
  .ticket-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .ticket-table th {
    background-color: #004d40;
    color: white;
  }
  
  .ticket-table tr {
    background-color: #f2f2f2;
  }
  
  .ticket-footer {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  .ticket-footer input[type="number"] {
    width: 70%;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .ticket-footer button {
    padding: 5px 15px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ticket-footer button:hover {
    opacity: 0.8;
  }

  .expired {
    color: red;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      display: block;
      left: -100%; /* Start off-screen */
      top: 0;
      height: 100%;
      width: 75%;
      transition: left 0.1s ease;
      z-index: 1000;
      background-color: #aaa; /* Your chosen background color */
      padding: 10px; /* Adjust as needed */
      box-sizing: border-box; /* To include padding in width and height */
      margin-top: 0;
    }
    
    .sidebar.active {
      left: 0; /* Slide in */
      background-color: #ccc;
      border: 5px solid green;
      margin-left: 0;
      padding-top: 80px;
      overflow-y: auto;
    }
  
    .sidebar,
    .sidebar.active {
      box-sizing: border-box;
    }
    .right-sidebar{
      position: fixed;
      right: 0px;
      top: 0px;
      height: 100%;
      width: 80%;
      max-width: 320px;
      transition: right 0.1s ease;
      border: 3px solid green;
      background-color: #fff;
      overflow-y: auto;
      padding: 0;
      padding-top: 30px;
      border-radius: 0;
      z-index: 9000;
    }

    .close-icon-surebet-ticket{
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      z-index: 9900;
    }

    .betting-ticket {
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    
    .main{
      margin: auto;
      padding: 0;
    }
  
    .table-responsive{
      overflow: visible;
    }
  
    th{
      position: sticky;
      top: -20px;
      z-index: 100;
    }
  
    th, td{
      width: 60px;
      min-width: 60px;
      max-width: 60px;
    }
  
    td:first-child,
    td:last-child{
      width: 90px;
      min-width: 90px;
      max-width: 90px;
    }
  
    th:first-child,
    th:last-child{
      width: 90px;
      min-width: 90px;
      max-width: 90px;
    }


    .grouping-row td {
      text-align: left;
    }
  
    .right-sidebar{
      z-index: 9000;
    }

    app-footer {
      display: none;
    }
  }