<nav class="navbar">
  <div class="logo-container">
    <img src="assets/images/logi.png" alt="Logo" class="navbar-logo">
    <span class="navbar-title">KVOTE.RS</span>
  </div>

  <div class="sidebar-icon">
    <img src="assets/images/dropdown_menu.png" alt="SidebarIcon" class="sidebar-image" (click)="openSideBar()">
  </div>

  <a class="nav-linka" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="nav-link" routerLink="/football" routerLinkActive="active">Fudbal</a>
  <a class="nav-link" routerLink="/basketball" routerLinkActive="active">Košarka</a>
  <a class="nav-link" routerLink="/tennis" routerLinkActive="active">Tenis</a>
  <a class="nav-link" routerLink="/basketballplayers" routerLinkActive="active">Košarka Igrači</a>
  <a class="nav-link" routerLink="/nfl" routerLinkActive="active">Američki Fudbal</a>
  <a class="nav-link" routerLink="/handball" routerLinkActive="active">Rukomet</a>

  <div class="profile-container">
    <img src="assets/images/mojprofil.png" alt="Profile" class="profile-pic" (click)="toggleDropdown()">
    <div *ngIf="dropdownOpen" class="dropdown-menu" [class.show]="dropdownOpen">
      <p>{{ user.userName }}</p>
      <p>Paket: {{ user.packageType }}</p>
      <p>Ističe: {{ user.packageDuration| date: 'HH:mm dd/MM/yy' }}</p>
      <p>Surebet Tip: {{ user.surebetType }}</p>
      <p>Surebet Ističe: {{ user.surebetDuration| date: 'HH:mm dd/MM/yy' }}</p>
      <button class="logout-button" (click)="logOut()">Odjavi se</button>
    </div>
  </div>
</nav>