<div class="main-container">
    <div class="content-container">
      <h1>Pronadji najbolje kvote</h1>
      <!-- <h6>Sajt za profesionalce</h6> -->
      <p>10+ domaćih kladionica</p>
      <p>1000+ igara</p>
      <div class="buttons">
        <button mat-raised-button [routerLink]="['/login']">Prijava</button>
        <button mat-raised-button [routerLink]="['/register']">Registracija</button>
      </div>
    </div>
    <div class="image-container">
      <img src="/assets/images/kvoteLandingPageReklama.png" alt="Your image description" />
    </div>
  </div>